<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Case</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<style>
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f7b2b7, #99c8c0);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.navbar {
    margin-top: 10px;
}

.navbar a {
    background: #f5c6cb;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.form-container {
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    width: 50%;
}

.form-group {
    margin: 10px 0;
    text-align: left;
    padding-right: 18px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #87d3c2;
}

.next-button {
    background: #50bfa5;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
</style>
<body>
    <div class="container">
        <h1>New Cat</h1>
        <div class="navbar">
            <a href="/app">New Case</a>
            <a href="/cat">Cat</a>
            <a href="/PetOwner">ID Owner</a>
            <a href="/Treatment">Treatment</a>
            <a href="/Payment">Payment</a>
        </div>

        <div class="form-container">
            <form action="/cat/<%= petOwner.ID_Pet_Owner %>" method="POST">
                <h1><%= petOwner.ID_Pet_Owner %></h1>
                <div class="form-group">
                    <label>ชื่อแมว</label>
                    <input type="text" name="Cat_Name" required>
                </div>
                <div class="form-group">
                    <label>สายพันธ์ุ</label>
                    <input type="text" name="Cat_Species" required>
                </div>
                <div class="form-group">
                    <label>เพศ</label>
                    <input type="text" name="Cat_Gender" required>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input type="text" name="Cat_Age" required>
                </div>
                <button type="submit" class="next-button">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>